<div class="mfn-main-slider" id="mfn-rev-slider">
	<div>
	<!-- START SLIDER fullwidth mode -->
		<div class="slider">
			<ul class="bxslider">	<!-- SLIDES  -->
				<li><img src="https://res.cloudinary.com/pidmx/image/upload/c_fill,g_north,h_414,w_1014/v1461248668/semana_del_trabajo.jpg" title="Asistentes a la Agenda de la Semana del Trabajo y la Productividad"></li>
				<li><img src="https://res.cloudinary.com/pidmx/image/upload/c_fill,h_414,w_1014/v1461247392/semana_traba.jpg" title="Agenda de la Semana del Trabajo y la Productividad"></li>
				<li><img src="https://res.cloudinary.com/pidmx/image/upload/c_fill,g_auto,h_414,w_1014/v1461247378/adiel_garcia_bejos.jpg"title="Con el Secretario del Trabajo del Estado de México"></li>
			</ul>
		</div>
		
	</div><!-- END SLIDER --> 
</div>

<div class="content_wrapper clearfix">
	<!-- .sections_group -->
	<div class="sections_group">
		<div class="entry-content" itemprop="mainContentOfPage">
			<div class="section    "  style="padding-top:70px; padding-bottom:0px; background-color:#fcfcfc" >
				<div class="section_wrapper clearfix">
					<div class="items_group clearfix">
						<div class="column one-fourth column_image ">
							<div class="image_frame no_link scale-with-grid no_border" >
								<div class="image_wrapper">
									<img class="scale-with-grid" src="http://res.cloudinary.com/pidmx/image/upload/v1438277160/martin-luther-king-discurso_cdghcw.jpg" alt=""   />
								</div>
							</div>
						</div>
						<div class="column three-fourth column_column ">
							<div class="column_attr"  style="">
								<span style="display: inline-block; z-index: 20; position: absolute; top: -97px;">
								<div class="image_frame no_link scale-with-grid alignnone no_border" >
									<div class="image_wrapper">
										<img class="scale-with-grid" src="images/home_congress_quote.png" alt="" width="68" height="54" />
									</div>
								</div>
								</span>
								<p style="font-size: 38px; font-weight: 500; color: #313131; line-height: 40px; margin-top: 10px;">
									La pregunta más urgente y persistente en la vida es: ¿Qué estás haciendo por los demás?
								</p>
								<p style="text-align: right;">
									<b>Martin Luther King</b><br />
								</p>
							</div>
						</div>
						<div class="column one column_column ">
							<div class="column_attr"  style="">
								<div style="height: 6px; width: 100%; background: url(images/home_congress_divider_pattern.png); overflow: hidden;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section    "  style="padding-top:30px; padding-bottom:0px; background-color:" >
				<div class="section_wrapper clearfix">
					<div class="items_group clearfix">
						<div class="column three-fourth column_column ">
							<div class="column_attr"  style="">
								<h2 style="margin: 0;">Noticias</h2>
							</div>
						</div>
						<div class="column one-fourth column_column ">
							<div class="column_attr align_right"  style="">
								<a class="button  button_large button_js" href="noticias/">
								<span class="button_label">Ver todo</span></a>
							</div>
						</div>
						<div class="column one column_blog_slider ">
							<div class="blog_slider clearfix  flat">
								<div class="blog_slider_header">
									<h4 class="title">Latest stories and report</h4>
									<a class="button button_js slider_prev" href="#">
									<span class="button_icon">
									<i class="icon-left-open-big"></i>
									</span>
									</a>
									<a class="button button_js slider_next" href="#">
									<span class="button_icon">
									<i class="icon-right-open-big"></i>
									</span>
									</a>
								</div>
								<ul class="blog_slider_ul">
									<li class="post-2424 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">
										<div class="item_wrapper">
											<div class="image_frame scale-with-grid">
												<div class="image_wrapper">
													<a href="noticias/reflexiones-sobre-el-sindicalismo-en-mexico/">
													<img height="200" src="https://res.cloudinary.com/pidmx/image/upload/v1467815736/Isologo_SINTS_resolucion_baja_w74hzu.png" /></a>
												</div>
											</div>
											<div class="date_label">junio 12, 2016</div>
											<div class="desc">
												<h4><a href="noticias/reflexiones-sobre-el-sindicalismo-en-mexico/">Reflexiones sobre el sindicalismo en México</a></h4>
												<hr class="hr_color" />
												<a href="noticias/reflexiones-sobre-el-sindicalismo-en-mexico/" class="button button_left button_js">
												<span class="button_icon">
												<i class="icon-layout"></i>
												</span>
												<span class="button_label">Ver mas</span>
												</a>
											</div>
										</div>
									</li>
									<li class="post-2417 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">
										<div class="item_wrapper">
											<div class="image_frame scale-with-grid">
												<div class="image_wrapper">
													<a href="noticias/postura-sindical/">
													<img src="https://res.cloudinary.com/pidmx/image/upload/v1467815736/Isologo_SINTS_resolucion_baja_w74hzu.png" /></a>
												</div>
											</div>
											<div class="date_label">marzo 31, 2016</div>
											<div class="desc">
												<h4><a href="noticias/postura-sindical/">Postura Sindical</a></h4>
												<hr class="hr_color" />
												<a href="noticias/postura-sindical/" class="button button_left button_js">
												<span class="button_icon">
												<i class="icon-layout"></i>
												</span>
												<span class="button_label">Ver mas</span>
												</a>
											</div>
										</div>
									</li>
									<li class="post-2382 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">
										<div class="item_wrapper">
											<div class="image_frame scale-with-grid">
												<div class="image_wrapper">
													<a href="noticias/convenio-con-universidad-intercultural-ejecutiva-de-mexico/">
													<img width="576" height="432" src="http://i1.wp.com/res.cloudinary.com/pidmx/image/upload/c_scale,w_800/v1438283204/firma_convenio_uiem_rxdaf3.jpg?fit=576%2C432" class="scale-with-grid wp-post-image" alt="firma_convenio_uiem_rxdaf3" /></a>
												</div>
											</div>
											<div class="date_label">julio 30, 2015</div>
											<div class="desc">
												<h4><a href="noticias/convenio-con-universidad-intercultural-ejecutiva-de-mexico/">Convenio con Universidad Intercultural Ejecutiva de México</a></h4>
												<hr class="hr_color" />
												<a href="./noticias/convenio-con-universidad-intercultural-ejecutiva-de-mexico/" class="button button_left button_js">
												<span class="button_icon">
												<i class="icon-layout"></i>
												</span>
												<span class="button_label">Ver mas</span>
												</a>
											</div>
										</div>
									</li>
									<li class="post-2365 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">
										<div class="item_wrapper">
											<div class="image_frame scale-with-grid">
												<div class="image_wrapper">
													<a href="noticias/reunion-con-autoridades-del-isem/">
													<img width="576" height="324" src="http://i1.wp.com/res.cloudinary.com/pidmx/image/upload/v1438277156/11722138_715520788591250_7438204056134259712_o_mimgns.jpg?fit=576%2C324" class="scale-with-grid wp-post-image" alt="11722138_715520788591250_7438204056134259712_o" /></a>
												</div>
											</div>
											<div class="date_label">julio 16, 2015</div>
											<div class="desc">
												<h4><a href="noticias/reunion-con-autoridades-del-isem/">Reunión con Autoridades del ISEM</a></h4>
												<hr class="hr_color" /><a href="noticias/reunion-con-autoridades-del-isem/" class="button button_left button_js">
												<span class="button_icon">
												<i class="icon-layout"></i>
												</span>
												<span class="button_label">Ver mas</span>
												</a>
											</div>
										</div>
									</li>
									<li class="post-2361 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">
										<div class="item_wrapper">
											<div class="image_frame scale-with-grid">
												<div class="image_wrapper">
													<a href="noticias/toma-de-nota-seccion-22/">
													<img width="576" height="432" src="http://i1.wp.com/res.cloudinary.com/pidmx/image/upload/v1438277157/P1010057-w1024_tuaqfm.jpg?fit=576%2C432" class="scale-with-grid wp-post-image" alt="P1010057-w1024" /></a>
												</div>
											</div>
											<div class="date_label">julio 12, 2015</div>
											<div class="desc">
												<h4><a href="noticias/toma-de-nota-seccion-22/">Toma de Nota Sección 22</a></h4>
												<hr class="hr_color" />
												<a href="noticias/toma-de-nota-seccion-22/" class="button button_left button_js">
												<span class="button_icon">
												<i class="icon-layout"></i>
												</span>
												<span class="button_label">Ver mas</span>
												</a>
											</div>
										</div>
									</li>
								</ul>
								<div class="slider_pagination"></div>
							</div>
						</div>
						<div class="column one column_column ">
							<div class="column_attr"  style="">
								<div style="height: 6px; width: 100%; background: url(images/home_congress_divider_pattern.png); overflow: hidden;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section column-margin-10px"  style="padding-top:30px; padding-bottom:0px; background-color:" >
				<div class="section_wrapper clearfix">
					<div class="items_group clearfix">
						<div class="column two-third column_column ">
							<div class="column_attr"  style="">
								<hr class="no_line" style="margin: 0 auto 20px;"/>
								<h2>Breves</h2>
								<hr class="no_line" style="margin: 0 auto 30px;"/>

								<div class="column one-second">
									<h5 style="margin-bottom: 10px;"><a href="#">Historia</a></h5>
									<p style="margin-bottom: 20px;">
										Nuestro sindicato cuenta con el registro No. 5808 ante la Secretaría del Trabajo y Previsión Social, misma que otorga Toma de Nota el día 11 de diciembre del año 2007.
									</p>
									<p style="margin-bottom: 20px;">
									<ul>
										<li>Secretario General del C.E.N. Dr. Antonio Sánchez Arriaga</li>
									</ul>
									</p>
									<p style="margin-bottom: 20px;">
										Nuestra organización sindical se forma a través de la lucha de varios años, como una respuesta al deterioro del sindicato corporativo, a la corrupción, al rezago económico y el no reconocimiento de méritos profesionales y laborales de los trabajadores del Sector Salud del país.
									</p>
									<hr class="" style="margin: 0 auto 1px;"/>
								</div>

								<div class="column one-second">
									<h5 style="margin-bottom: 10px;"><a href="#">Nosotros</a></h5>
									<p style="margin-bottom: 20px;">
										Somos una organización de respeto, de diálogo, de propuestas, de gestión y discusión propositiva; cualidades que coadyuvan sustantivamente a la justicia social para los trabajadores de salud.
									</p>
									<p style="margin-bottom: 20px;">
									Somos un sindicato de ideales, valores y de principios, un sindicato incluyente de todas la formas de pensar, un gremio organizado, orientado y capacitado en función al derecho laboral, comprometido a luchar permanentemente en defensa de los intereses colectivos de nuestra sociedad, un sindicato que escucha y comparte puntos de vista para fortalecer y trabajar en aquellos puntos de coincidencia, un sindicato que vela por mejorar las condiciones de los trabajadores y los servicios de salud.
									</p>
									<hr class="" style="margin: 0 auto 1px;"/>
								</div>

								<hr class="no_line" />
							</div>
						</div>
						<div class="column one-third column_column ">
							<div class="column_attr"  style="">
								<div style="background: #eee; padding: 30px 30px 10px; overflow: hidden;">
									<h3>Comité Estatal</h3>
									<div class="image_frame no_link scale-with-grid alignnone no_border" >
										<div class="image_wrapper">
											<img class="scale-with-grid" src="http://res.cloudinary.com/pidmx/image/upload/c_crop,g_west,h_324,w_475/v1438277158/IMG-20150703-WA0006_rcl9ww.jpg" alt=""   />
										</div>
									</div>
									<hr class="no_line" style="margin: 0 auto 20px;"/>

									<h5 style="font-weight: 700;">Sección 22 Estado de México</h5>

									<div class="column one-second">
										<ul class="members_list">
											<li>Adiel Calixto Mendoza</li>
											<li>Pedro Aguilar Mercado</li>
											<li>René Israel Valdez Gómez</li>
										</ul>
									</div>
									<div class="column one-second">
										<ul class="members_list">
											<li>Secretario General</li>
											<li>Srio. de Organización</li>
											<li>Srio. de Prensa y Propaganda</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="column one column_divider "><hr class="no_line" style="margin: 0 auto 60px;"/>
						</div>
						<div class="column one column_column ">
							<div class="column_attr"  style="">
								<div style="height: 6px; width: 100%; background: url(images/home_congress_divider_pattern.png); overflow: hidden;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section    "  style="padding-top:60px; padding-bottom:40px; background-color:" >
				<div class="section_wrapper clearfix">
					<div class="items_group clearfix">
						<div class="column one-second column_image ">
							<div class="image_frame no_link scale-with-grid aligncenter no_border" >
								<div class="image_wrapper">
									<img class="scale-with-grid" src="http://res.cloudinary.com/pidmx/image/upload/v1438277158/book-h359_dxn6t0.jpg" alt="estatutos"   />
								</div>
							</div>
						</div>
					<div class="column one-second column_column ">
				<div class="column_attr"  style="">
					<hr class="no_line" style="margin: 0 auto 20px;"/>
					<h2>Nuestros Estatutos</h2>
					<p class="big">
						Conoce los Estatutos del Sindicato Independiente Nacional de Trabajadores de Salud
					</p>
					<p>
						El sustento legal del SINTS enumera los requisitos, derechos y obligaciones de nuestros agremiados, además de los procedimientos y normas vigentes.
					</p>
					<a class="button  button_large button_js" href="documentos/"     >
						<span class="button_label">Leer Ahora</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="section    "  style="padding-top:80px; padding-bottom:40px; background-color:; background-image:url(images/home_congress_take_a_part_bg.jpg); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-stellar-background-ratio="0.5">
		<div class="section_wrapper clearfix">
			<div class="items_group clearfix">
				<div class="column one-sixth column_placeholder">
					<div class="placeholder">&nbsp;
					</div>
				</div>
			<div class="column two-third column_column ">
				<div class="column_attr"  style="">
				</div>
			</div>
		</div>
	</div>
	<div class="section the_content no_content">
		<div class="section_wrapper">
			<div class="the_content_wrapper">
			</div>
		</div>
	</div>
</div>
	
