<!-- after_footer() -->
	<div style="display:none">
	</div>
<%- js(['js/jquery/ui/core.min.js', 'js/jquery/ui/widget.min.js', 'js/jquery/ui/mouse.min.js', 'js/jquery/ui/sortable.min.js', 'js/jquery/ui/tabs.min.js', 'js/jquery/ui/accordion.min.js', 'js/jquery.plugins.js', 'js/animations/animations.min.js', 'js/jquery.jplayer.min.js', 'js/mfn.menu.js', 'js/scripts.js']) %>