<!-- #Footer -->		
<footer id="Footer" class="clearfix">
	
<div class="widgets_wrapper">
	<div class="container">
		<div class="column one-third">
			<aside id="text-4" class="widget widget_text">
				<h4>Reconocimiento</h4>
				<div class="textwidget">
					<ul class="members_list">
						<li>El Gobierno Federal a través de la STPS, es quien reconoce y formaliza al Sindicato Independiente Nacional de Trabajadores de Salud como un sindicato industrial del apartado “A” del artículo 123 Constitucional.</li>
					</ul>
				</div>
			</aside>
		</div>
	<div class="column one-third">
		<aside id="text-3" class="widget widget_text">
			<h4>Ejes de Trabajo</h4>
			<div class="textwidget">
				<ul class="members_list" >
					<li>La profesionalización</li>
					<li>La retabulación</li>
					<li>Retiro voluntario</li>
					<li>La federalización de las plazas</li>
					<li>El Contrato Colectivo</li>
				   </ul>
				
			</div>
		</aside>
	</div>
	<div class="column one-third">
		<aside id="text-2" class="widget widget_text">
			<div class="textwidget">
				<div style="text-align: center;">
					<hr class="no_line" style="margin: 0 auto 10px;"/>
						<div class="image_frame no_link scale-with-grid alignnone no_border" >
							<div class="image_wrapper">
								<img class="scale-with-grid" src="images/Sints_web_logo.png" alt="" width="150" height="56" />
							</div>
				</div>

<hr class="no_line" style="margin: 0 auto 25px;"/>

<p class="contact_icons">
	<a href="#"><i class="icon-facebook-circled"></i></a>
	<a href="#"><i class="icon-gplus-circled"></i></a>
	<a href="#"><i class="icon-twitter-circled"></i></a>
	<a href="#"><i class="icon-pinterest-circled"></i></a>
	<a href="#"><i class="icon-linkedin-circled"></i></a>
</p>
</div></div>
		</aside></div></div></div>	
		<div class="footer_copy">
		<div class="container">
			<div class="column one">
			
								<a id="back_to_top" class="button button_left button_js " href=""><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
				
				<!-- Copyrights -->
				<div class="copyright">
					SINTS 2015 - 2016. Derechos Reservados.				</div>
				
				<ul class="social"><li class="facebook"><a target="_blank" href="https://www.facebook.com/sints22" title="Facebook"><i class="icon-facebook"></i></a></li><li class="twitter"><a target="_blank" href="https://twitter.com/Sints22" title="Twitter"><i class="icon-twitter"></i></a></li></ul>						
			</div>
		</div>
	</div>
		
</footer>