<div id="Top_bar">
	<div class="container">
		<div class="column one">
			<div class="top_bar_left clearfix loading">
				<!-- .logo -->
				<div class="logo">
					<a id="logo" href="/" title="SINTS"><img class="logo-main   scale-with-grid" src="images/Sints_web_logo.png" 	alt="SINTS" /><img class="logo-sticky scale-with-grid" src="images/Sints_web_logo.png" alt="" /></a>
				</div>
				<div class="menu_wrapper">
				</div>			
				<div class="secondary_menu_wrapper">
				<!-- #secondary-menu -->
				</div>
				<div class="banner_wrapper">
				</div>
			</div>
		</div>
	</div>
</div>
</header>
