<!-- #Wrapper -->
<div id="Wrapper">
	<!-- #Header_bg -->
	<div id="Header_wrapper"  class="bg-parallax" data-stellar-background-ratio="0.5">
		<!-- #Header -->
		<header id="Header">
			<div id="Overlay">
				<nav id="overlay-menu" class="menu-main-menu-container">
					<ul id="menu-main-menu" class="overlay-menu">
						<li id="menu-item-2336" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2335 current_page_item menu-item-2336"><a href="./">Inicio</a></li>
						<li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="./noticias/">Noticias</a></li>
						<li id="menu-item-2393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2393"><a href="./documentos/">Documentos</a></li>
						<li id="menu-item-2388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2388"><a href="./afiliate/">Afíliate</a></li>
					</ul>
				</nav>
			</div>
			<a class="overlay-menu-toggle" href="#">
				<i class="open icon-menu" style="padding-top: 5px;"></i>
				<i class="close icon-cancel"></i>
			</a>
		<!-- .header_placeholder 4sticky  -->
		<div class="header_placeholder"></div>